* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


@font-face {
	font-family: 'Merriweather-Regular'; 
	src: local('Merriweather-Regular'),
		url(/src/assets/fonts/Merriweather-Regular.ttf); 
}


